



.user-profile {
    padding: 25px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 30px;
    align-items: center;
    
}
.user-profile-label {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    margin-top: -85px;
    outline: 10px solid rgb(252, 249, 249);
   
}
.user-profile-label img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    
    
   
}

.profile-icon-box {
    position: absolute;
    right: 5px;
    bottom: 0;
    border-radius: 100%;
    padding: 5px 4.5px;
    outline: 5px solid white;
    display: flex;
}
.text-center {
  text-align: center;
}

table {
  border: 3px solid rgb(3, 3, 3);
  table-layout: fixed;
  width:800px;
 
  }
    
  th {
    border-bottom: 1px solid rgb(5, 5, 5);
    text-align: center;
  }
  tr{
    border: '1px solid black'
  }
    
  td {
    border: 1px solid;
    text-align: left;
    word-wrap: break-word;
    
  }
 